---
- name: Add basic packages
  hosts: all
  tasks:
    - name: ensure essential packages installed
      xbps:
        name: bash,vim,htop,opendoas,net-tools,git,vsv,curl,ffmpeg
        state: latest

- name: Install docker
  hosts: server
  tasks:
    - name: ensure additional packages installed
      xbps:
        name: docker,docker-cli,docker-compose
        state: latest

- name: Setup docker
  hosts: server
  tasks:
    - name: run docker daemon on boot
      runit:
        name: docker
        enabled: true
        state: started
